<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<module-name>photo-server</module-name>

	<servlet>
		<servlet-name>MyApplication</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>photo.App</param-value>
		</init-param>
		
<!--	XXX Tracing
		<init-param>
			<param-name>jersey.config.server.tracing.type</param-name>
			<param-value>ALL</param-value>
		</init-param> 
-->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyApplication</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!-- Allow access on any Port -->
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>
			org.apache.catalina.filters.CorsFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>